body {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", serif;
}

.section-s1 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    align-content: center;
    gap: 200px;
    top: 0;
}

.header_h1 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header_h1 img {
    width: 188px;
    height: 40px;
}

.header_h2 h4 {
    font-weight: lighter;
}

.header_h2 {
    display: flex;
    gap: 30px;
}

.header_h2 h4 {
    font-weight: lighter;
}

.header_h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    gap: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    width: 90px;
    height: 40px;
    border: none;
}

.btn img {
    width: 13px;
    /* Adjust size of the icon */
}

.header_h3__separator {
    font-size: 13px;
    /* Adjust size of the text */
    opacity: 0.5;
    /* Less opacity */
    margin-left: 8px;
}

.header_h3__Text {
    font-size: 13px;

    /* Less opacity */
    margin-left: 8px;
}

.header_h3__signin {
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    font-family: "Gabarito", serif;
    border: none;
}

.section-s2 {}

.section-s2 h1 {
    font-size: 50px;
    text-align: center;
}

.section-s3 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-s3_categories {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-s3_categories h3 {
    font-weight: lighter;
}

.section-s3_categories img {
    width: 20px;
    height: 20px;
}

.section-s4 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 25px;
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.section-s4__search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;


}

.section-s4__search-bar__input {

    width: 100%;
    border: none;
}

.section-s4__search-bar__img {
    width: 30px;
    height: 30px;
}


.section-s4__search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 0;
    font-size: 15px;
    width: 90px;
    height: 40px;
    border: none;
}

.search-btn {
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    width: 80px;
    height: 40px;
    background-color: #34E0A1;
    font-family: "Gabarito", serif;
    border: none;
}

.section-s4__search-bar__input:focus {
    outline: none;
}

.section-s4__search-bar__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.section-s5 {
    padding: 10px;
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

.section-s5 img {
    border-radius: 10px;
    width: 1000px;
    height: 400px;

}

.section-s5__suggestion {
    position: relative;
}

.section-s5__suggestion__desc__l1 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    right: 250PX;
    top: 30px;
}

.section-s5__suggestion__desc__l1 span {
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: white;
}

.section-s5__suggestion__desc__l2 {
    position: absolute;
    top: 50px;
    right: 95px;
    width: 30%;
}

.section-s5__suggestion__desc__l2 h1 {
    font-size: 50px;
}

.section-s5__suggestion__desc__l3 {
    position: absolute;
    bottom: 80px;
    right: 95px;
    width: 30%;

}

.section-s5__suggestion__desc__l3 h3 {
    font-size: 25px;
}

.section-s5__suggestion__desc__l4 button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: fit-content;
    border-radius: 20px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    bottom: 55px;
    right: 250px;
    gap: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.section-s5__suggestion__desc__l4 img {
    width: 20px;
    height: 20px;
}

.section-s6 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

}

.section-s6__desc {
    padding-left: 350px;
}

.section-s6 h1 {
    font-weight: lighter;
    font-size: x-large;
}

.section-s6 p {
    font-weight: 1;
    font-size: medium;
    opacity: .7;
}

.section-s6__locations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;

}

.section-s6__locations img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}


.section-s6__locations__img {
    position: relative;
    display: inline-block;
}

.section-s6__locations__img img {
    display: block;
}

.section-s6__locations__img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    /* Adjust this value to control the height of the gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.section-s6__locations__img1 {
    position: absolute;
    left: 350px;
    bottom: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.section-s6__locations__img2 {
    position: absolute;
    left: 610px;
    bottom: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.section-s6__locations__img3 {
    position: absolute;
    left: 870px;
    bottom: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.section-s6__locations__img4 {
    position: absolute;
    left: 1125px;
    bottom: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.section-s6__locations__next img {
    position: absolute;
    bottom: 100px;
    width: 50PX;
    height: 50px;
    right: 400px;
}

.section-s7 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

}

.section-s7__desc {
    padding-left: 350px;
}

.section-s7 h1 {
    font-weight: lighter;
    font-size: x-large;
}

.section-s7 p {
    font-weight: 1;
    font-size: medium;
    opacity: .7;
}

.section-s7__suggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-basis: 25%; */
    gap: 5px;
    position: relative;

}

.section-s7__suggestions img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.section-s7__suggestions__desc {
    text-align: center;
}

.section-s7__suggestions__desc h5 {
    padding: none;
    font-size: 16px;
    font-weight: lighter;
}

.section-s7__suggestions__desc img {
    width: 20px;
    height: 20px;
}

.section-s7__suggestions__next img {
    position: absolute;
    bottom: 280px;
    width: 50PX;
    height: 50px;
    right: 385px;
}


.section-s8 {
    padding: 30px;
}

.section-s8__advertisement img {
    width: 1900px;
    height: 600px;

}

.section-s8__footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}



.list {
    display: flex;
    gap: 10px;
}

.section-s8__footer__s1 ol,
.section-s8__footer__s2 ol,
.section-s8__footer__s3 ol,
.section-s8__footer__s4 ol {
    list-style-type: none;
}

.section-s8__footer__s4 {
    padding-right: 100px;
}




.left {
    display: flex;
    align-items: top;
    gap: 15px;
    padding: 10px;
    padding-left: 230px;


}

.left-s2 p {
    font-size: small;
    margin: 0;
}


.left__s1 img {
    width: 40px;
    height: 40px;
}

.left-s3 {
    vertical-align: top;
}

.left-s3 p {
    display: inline-block;
    font-size: small;
    text-decoration: underline;
    margin-right: 10px;
}


.left-s3 p:last-child {
    display: block;
    margin-top: 10px;
    /* Adjust spacing as needed */
}

.left__s3 select {
    padding: 7px 70px;
    border: solid gray 1px;
    border-radius: 10px;
    direction: ltr;
    /* Ensure left-to-right text direction */
    text-align: left;
    /* Align text to start */
    padding-left: 10px;
    /* Optional: Add some padding for better alignment */
    font-weight: bold;
}

.additional-info {
    display: flex;
    gap: 85px;
}

.desc {
    display: flex;
    width: 630px;
    justify-content: space-between;
    font-size: xx-small;
    padding-left: 230px;
}


.socialPlatform img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}